.main {
    display: flex;
    gap: 1rem;
    max-width: 1150px;
    margin: 0 auto;
}

.main--buy-sell--historial {
    flex-grow: 1;
}

.main--cantidad {
    width: 40rem;
}

.main--buy-sell, .main--historial {
    height: 37rem;
    margin-top: 0;
}

