* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro.otf') format('opentype')
}

:root {
    --negro: #070707;
    --gris-icono: #808080;
    --blanco-casilla: #f7f9fb;
    --gris-fuente: #687f99;
    --ver-completo: #8696a8;
    --bordes: #d6dfe9;
    --fuente-historial: #141f30;
    --subida-verde: rgb(73, 204, 104);
    --bajada-rojo: rgb(252, 77, 77);
    --color-mxn: rgb(174, 174, 174);
    --gris-hover: #ebebeb;
}

html {
    font-family: 'DINPro';
    font-size: 62.5%;
}

.header {
    width: 100%;
    padding: 0.7em;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.header--contenedor {
    width: min(100%, 1300px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--img {
    height: 3.5rem;
}

.oculto {
    display: none;
}

/* .header--menu--desplazable {
    margin-left: 2em;
} */

/* .header--icon:nth-of-type(2) {
    margin-left: 1em;
} */

line {
    stroke: grey;
    stroke-width: 2;
}

.svg--path {
    fill: grey;
}

.header--menu--boton {
    display: inline-block;
    margin-left: 2em;
}

.header--menu--boton--opciones, .header--exchange--info  {
    width: 100%;
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0%;
    transform: translateY(-100%);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.header--menu--opciones {
    font-size: 1.5rem;
    padding: 0.8em 0;
    text-decoration: none;
    color: var(--negro);
} 

.header--menu--opciones:hover {
    color: var(--color-mxn);
}

.header--menu--opciones:nth-of-type(1) {
    font-weight: bold;
}

.header--menu--boton:hover .header--menu--boton--opciones, .header--exchange--contenedor:hover .header--exchange--info {
    transform: translateY(calc(-3% + 4.3rem));
}

.tache {
    position: absolute;
    display: none;
}

.header--menu--boton:hover .tache {
    position: static;
    display: inline-block;
    margin-left: 0;
}

.header--menu--boton:hover .hamburgesa {
    position: absolute;
    display: none;
}

.header--exchange--info {
    width: 90%;
    /* background-color: orangered; */
    transform: translateY(-100%);
    left: 5%;
    border: 1px solid var(--bordes);
    border-radius: 0.5rem;
    margin: 0 auto;
}

.header--exchange--info--info {
    border-bottom: 1px solid var(--bordes);
}
.header--exchange--info--info:hover {
    background: var(--blanco-casilla);
    cursor: pointer;
}


/* .header--exchange--info--info:nth-of-type(2) {
    background-color: red;
} */

.header--exchange--info--title, .header--exchange--info--info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: min(2vw + 0.56rem, 1.6rem);
    padding: 1em;
}

.header--exchange--info--title {
    padding: 1em 2em 1em 2em;
}

.header--exchange--info--left {
    margin-left: 1.25em;
}

.header--exchange--info--left:hover {
    color: var(--color-mxn);
}

.header--exchange--info--right {
    margin-right: 1.25em;
}

.header--exchange--contenedor {
    display: inline-block;
    margin-right: 1em;
}

sup {
    font-size: min(2vw + 0.26rem, 1.3rem);
    color: var(--color-mxn);
}

.subida {
    font-size: min(2vw + 0.36rem, 1.4rem);
    color: var(--subida-verde);
}

.bajada {
    font-size: min(2vw + 0.36rem, 1.4rem);
    color: var(--bajada-rojo);
}

/* .header--exchange--info--info {
} */

.left--right {
    display: inline-block;
}

.header--exchange--info--img {
    width: 2rem;
    vertical-align: middle;
}

.header--notificaciones {
    display: inline-block;
}

.header--message {
    position: absolute;
    transform: translateX(-70%) translateY(-200%);
    font-size: 1.6rem;
    padding: 1.16em 0.6rem;
    box-shadow: 0 1px 3px 0 rgba(63,63,68,.15);
    white-space: nowrap;
    background: white;
    color: var(--gris-icono);
}

.header--notificaciones:hover .header--message {
    transform: translateX(-70%) translateY(5%);
}

.main {
    padding: 1rem;
}

.main--cantidad--total {
    width: 100%;
    background: var(--negro);
    color: white;
    border-radius: 2rem;
    padding: 1.6rem 0;
}

.main--cantidad--total p {
    text-align: center;
}

.total--dinero {
    font-size: 2.6rem;
}

.total--mxn {
    font-size: 1.2rem;
    color: var(--gris-fuente);
}

.main--disponible {
    background: var(--blanco-casilla);
    border: 1px solid var(--bordes);
    border-radius: 1rem;
    margin-top: 1.5em;
}

.disponible--img {
    width: 3.8rem;
    height: 3.4rem;
    margin-right: 1em;
}

.disponible--text {
    font-size: 1.4rem;
}

.disponible--izquierda {
    display: flex;
    width: 13em;
}

.disponible--left-right-top, .disponible--left-right-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.disponible--derecha {
    font-size: 2rem;
}

.disponible--left-right-bottom p {
    width: 47%;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    border-radius: 2rem;
    border: 1px solid var(--bordes);
    background: white;
}

.disponible--left-right-bottom {
    margin-top: 3em;
}

.main--disponible {
    padding: 2em;
}

/*empieza la sección donde se ve cuántas monedas se tienen*/


.main--cripto, .main--buy-sell--historial {
    width: 100%;
    border: 1px solid var(--bordes);
    border-radius: 1rem;
    margin-top: 1.5em;
}

.main--cripto--moneda--padre {
    width: 100%;
    height: 9rem;
    border-bottom: 1px solid var(--bordes);
}

.main--cripto--moneda--padre:last-child {
    border-bottom: none;
}

.main--cripto--moneda--padre:last-child .main--cripto--button {
    border-radius: 0 0 1rem 1rem;
}

.main--cripto--moneda--padre:hover .main--cripto--moneda {
    background: var(--blanco-casilla);
    cursor: pointer;
    height: calc(100% - 30%);
}

.main--cripto--moneda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2.88rem;
}

.moneda--left--img {
    width: 3.8em;
    height: auto;
    vertical-align: middle;
    margin-right: 2em;
}

.moneda--left--name {
    font-size: 1.4rem;
    font-weight: bold;
    vertical-align: middle;
}

.moneda--right--cantidad {
    font-size: 1.6rem;
    font-weight: bold;
}

.moneda--right--valor {
    font-size: 1.5rem;
    color: var(--gris-fuente);
}

.main--cripto--button--padre {
    display: none;
}

.main--cripto--moneda--padre:hover .main--cripto--button--padre {
    height: 30%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--bordes);
}

.main--cripto--button {
    width: 50%;
    /* background: rgba(255, 0, 0, 0.287); */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.main--cripto--button:hover {
    background: var(--blanco-casilla);
    cursor: pointer;
}

/*Empieza el recuadro de vender y comprar cripto*/

.main--buy--sell--info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .main--buy-sell {
    width: 100%;
    border: 1px solid var(--bordes);
} */

.main--buy--sell--span {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.75em 0;
    border-bottom: 1px solid var(--bordes);
}

.main--buy--sell--span:last-child {
    border-left: 1px solid var(--bordes);
}

.main--buy--sell--span:hover {
    background: var(--blanco-casilla);
    border-bottom: 1px solid black;
    cursor: pointer;
}

.main--buy--sell--disponible {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.4em 1em;
    border-radius: 1em;
    background: var(--blanco-casilla);
    color: var(--gris-fuente);
}

.main--buy--sell--pesos {
    font-size: 3.2rem;
}

.buy--sell--mxn {
    font-size: 1.4rem;
}

.main--buy--sell--cripto {
    font-size: 1.2rem;
    color: var(--gris-fuente);
}

.main--buy--sell--cambio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--buy--sell--svg {
    transform: rotate(90deg); 
    margin-left: 1em;
}

.main--buy--sell--pesos, .main--buy--sell--cripto {
    text-align: center;
}

.main--buy--sell--max {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}

.buy--sell--label {
    font-size: 1.2rem;
    align-self: start;
}

.select--moneda {
    display: inline-block;
}

.buy--sell--select {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.4rem;
    border: 2px solid black;
    position: relative;
    width: 100%;
}

.select--moneda {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.select--img {
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
}

.select--span {
    font-weight: normal;
}

.select--oculto {
    position: absolute;
    width: 100%;
    border: 1px solid var(--bordes);
    background: white;
    border-radius: 0.5rem;
    left: 0;
    top: 0; 
    padding: 0.8rem 0;
    transform: scale(0);
    transition: 0.2s linear;
}

.buy--sell--select:hover .select--oculto {
    transform: scale(1);
}

.oculto {
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: none;
}

.oculto:hover {
    background: var(--gris-hover);
}

.buy--sell--button {
    font-size: 1.6rem;
    text-align: center;
    background: #000;
    color: white;
    font-weight: bold;
    padding: 0.375em 0;
    border-radius: 1.5em;
    width: 100%;
}

.buy--sell--select:hover, .buy--sell--button:hover {
    cursor: pointer;
}

.main--buy--sell--cambio--numero, .main--buy--sell--max, .buy--sell--button {
    margin-top: 1.6rem;
}



/* .main--buy--sell--cambio--numero {
    pointer-events: none;
} */



