:root {
    --negro: #070707;
    --gris-icono: #808080;
    --blanco-casilla: #f7f9fb;
    --gris-fuente: #687f99;
    --ver-completo: #8696a8;
    --bordes: #d6dfe9;
    --fuente-historial: #141f30;
}